body {
    background: #E5E5E5;
    font-family: 'Rubik';
}

html, body {
    overflow-x: hidden;
    margin: 0;
}

#header {
    background: #FFFFFF;
    width: 100%;
    margin: 0 -9999rem;
    /* add back negative margin value */
    padding: 0.25rem 9999rem;
    display: flex;

}

#navbar {
    position: absolute;
    right: 0;
    margin-top: 10px;
}

#navbar ul {
    padding:0px;
    list-style: none;
}

#navbar li {
    display:inline;
    padding: 50px;
}

#navbar a {
    color: #313131;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
}

#firstTitle {
    font-size: 30px;
    margin-left: 30px;
}

h1 a {
    text-decoration: none;
    color: black;
}

#main {
    margin-left: 30px;
}

#main-footer {
    float: left;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: center;
	bottom: 0px;
	width: 100%;
}